@import url("http://www.aarongifford.com/fonts/fonts.css");

HTML {
  height: auto;
  min-height: 100%;
  width: 100%;
}

BODY {
  height: auto;
  min-height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: white;
  font-family: Lusitana,serif;
}

#content {
  height: auto;
  margin: auto;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
H1 { margin: 0; border: 0; padding: 0; }
.navbar { display: none; }
.header { margin: 0; margin-bottom: 0.2em; border: 0; padding: 0; }
.footer { margin: 0; margin-top: 0.2em; border: 0; padding: 0; }
.body { margin: 0; border: 0; padding: 0; clear: both; text-align: center; text-align: left; page-break-before: always; }
.bodybreak { display: none; }
P { margin: 0; padding: 0; border: 0; text-indent: 2.5em; line-height: 1.5em; }
.vpad { padding-top: 0.7em; padding-bottom: 0.7em; }
.bulletspace { text-align: center; margin-left: auto; margin-right: auto; padding-top: 0.7em; padding-bottom: 0.7em; text-indent: 0; }
.bulletspace:after { content: "\2022 \2022 \2022"; }
.noindent { text-indent: 0; }
.indent { text-indent: 2.5em; }
.indenttocenter { text-indent: 50%; }
.textcenter { text-align: center; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
BLOCKQUOTE { margin: 0; border: 0; padding: 1em; padding-left: 5em; padding-right: 5em; }
.title { float: left; font-style: italic; font-weight: bold; font-size: 0.7em; }
.author { float: right; font-style: italic; font-size: 0.7em; }
.chapter { font-weight: bold; text-align: center; padding: 3em; }
.chaptersuper { font-size: 1.0em; }
.chaptername { font-size: 1.7em; }
.chaptersub { font-size: 1.2em; }
.copyright { font-style: italic; font-size: 0.7em; text-align: center; }
.footnotes { margin: 0; margin-top: 3em; }
.footnotes > h1 { font-size: 1.1em; font-weight: bold; }
.footnote { display: inline; margin: 0; border: 0; padding: 0; font-size: 0.6em; top: -0.4em; position: relative; text-align: center; font-weight: bold; }
A { text-decoration: none; } 
A:link, A:visited, A:hover, A:active { color: black; }
.mid { display: none; }
.prev { display: none; }
.next { display: none; }
.empty { clear: both; height: 0em; }
.center { text-align: center; margin-left: auto; margin-right: auto; }
.entrydate { font-size: 1.1em; font-weight: bold; }
.mapbox { display: block; margin: 0.7em; margin-left: auto; margin-right: auto; border: 0.1em solid black; padding: 1.4em; text-align: center; text-indent: 0; }
.picbox { margin: 0.7em; margin-left: auto; margin-right: auto; border: 0.1em solid black; padding: 1.4em; text-align: center; }
.picbox > IMG { display: block; text-align: center; margin: 0; border: 0; padding: 0; }
.picboxright { display: inline; float: right; margin: 0.7em; border: 0.1em solid black; padding: 1.4em; text-align: center; }
.picboxright > IMG { display: block; text-align: center; margin: 0; border: 0; padding: 0; }
.picboxleft { display: inline; float: left; margin: 0.7em; border: 0.1em solid black; padding: 1.4em; text-align: center; }
.picboxleft > IMG { display: block; text-align: center; margin: 0; border: 0; padding: 0; }
.piccaption { text-align: center; margin: 0; border: 0; padding: 0; padding-top: 0.3em; color: black; font-size: 1.1em; }
.bigverticalspace { display: block; height: 10em; }
.scanlink { display: none; }
.noprint { display: none; }
.noweb { display: initial; }
.booktitle { font-weight: 1.1em; font-style: italic; }
.articletitle { font-weight: 1.1em; }
.articletitle:before { content: "\201c"; }
.articletitle:after { content: "\201d"; }

