@import url("http://www.aarongifford.com/fonts/fonts.css");

HTML {
  height: auto;
  min-height: 100%;
  width: 100%;
}

BODY {
  height: auto;
  min-height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #c0d0c8;
  font-family: Lusitana,serif;
  background: linear-gradient(to bottom right, #c0d0c8, #808488);
}

#content {
  margin-top: 18pt;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18pt;
  text-align: center;
  width: 576pt;
  z-index: 0;
  box-shadow: 6pt 8pt 4pt #404040;
}

H1 { margin: 0; border: 0; padding: 0; }
.header { margin: 0; border: 0; padding: 20pt; background-color: #fffcf6; text-align: center; }
.footer { margin: 0; border: 0; padding: 20pt; background-color: #fffcf6; text-align: center; }
.body { margin: 0; border: 0; padding: 25pt; background-color: #fffcf6; text-align: center; text-align: left; }
.bodybreak { border: 0; height: 2pt; background: #333333; background-image: linear-gradient(to right, #cccccc, #333333, #cccccc); }
P { margin: 0; padding: 0; border: 0; text-indent: 24pt; line-height: 1.5em; }
.bulletspace { text-align: center; margin-left: auto; margin-right: auto; padding-top: 8pt; padding-bottom: 8pt; text-indent: 0; }
.bulletspace:after { content: "\25c6 \25c6 \25c6"; }
.noindent { text-indent: 0; }
.versebox { margin: 12pt; border: 0; padding: 12pt; background-color: #f0f0f0; }
.verse { text-indent: 5pt; margin-bottom: 3pt; }
.versenum { display: inline-box; float: left; font-weight: bold; }
.vpad { padding-top: 8pt; padding-bottom: 8pt; }
.padbelow { padding-bottom: 2em; }
.padabove{ padding-top: 2em; }
.indent { text-indent: 24pt; }
.doubleindent { text-indent: 48pt; }
.indenttocenter { text-indent: 50%; }
.textcenter { text-align: center; }
.textright { text-align: right; }
.normal { font-style: normal; }
.oblique { font-style: oblique; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.italic em { font-style: normal; }
i em { font-style: normal; }
.smallcaps { font-variant: small-caps; }
.aside { font-style: italic; font-size: 0.9em; }
BLOCKQUOTE { margin: 24pt; border: 0; padding: 24pt; background-color: #f0f0f0; }
.title { font-weight: bold; font-size: 2.0em; text-align: center; }
.author { font-style: italic; font-size: 0.9em; text-align: center; }
.chapter { font-weight: bold; text-align: center; padding: 40pt; }
.chaptersuper { font-size: 1.0em; }
.chaptername { font-size: 1.7em; }
.chaptersub { font-size: 1.2em; }
.copyright { font-style: italic; font-size: 0.7em; text-align: center; }
.footnotes { margin: 0; margin-top: 40pt; }
.footnotes > h1 { font-size: 1.1em; font-weight: bold; }
.footnote { display: inline; margin: 0; border: 0; padding: 1pt; background-color: #c0c8d0; font-size: 0.6em; top: -0.4em; position: relative; text-align: center; font-weight: bold; }
a.footnote:link, a.footnote:visited, a.footnote:active { color: black; }
a.footnote:hover { color: blue; background-color: #fffcf6; }
A { text-decoration: none; } 

.navbar { margin: 0; border: 0; padding: 0; background-color: #f0f0f0; width: 100%; position: relative; overflow: auto; }
.prev { margin: 0; border: 0; padding: 5pt; white-space: nowrap; text-align: left; float: left; }
.prev:after { content: "\00a0"; }
.mid { margin: 0; border: 0; padding: 5pt; white-space: nowrap; text-align: center; position: absolute; left: 50%; transform: translateX(-50%); background-color: #f0f0f0; }
.next { margin: 0; border: 0; padding: 5pt; white-space: nowrap; text-align: right; float: right; }
.prev:before { content: "\00a0"; }
.empty { margin: 0; border: 0; padding: 0; clear: both; height: 0; }

.center { text-align: center; margin-left: auto; margin-right: auto; }
.ednote { font-size: 0.9em; padding: 8pt; border: 1pt dotted black; background-color: #efe8e0; }
.entrydate { font-size: 1.1em; font-weight: bold; }

.hspace20 { width: 20pt; margin: 0; border: 0; padding: 0; display: inline-block; white-space: pre-wrap; }
.hspace30 { width: 30pt; margin: 0; border: 0; padding: 0; display: inline-block; white-space: pre-wrap; }

.mapbox { display: block; margin: 8pt; margin-left: auto; margin-right: auto; border: 1pt solid black; padding: 18pt; background-color: #c0c0c0; text-align: center; text-indent: 0; }

.picbox { margin: 8pt; margin-left: auto; margin-right: auto; border: 1pt solid black; background-color: #c0c0c0; padding: 18pt; text-align: center; }
.picbox > IMG { display: block; text-align: center; margin: 0; border: 0; padding: 0; width: 100%; }
.picboxright { display: inline; float: right; margin: 8pt; border: 1pt solid black; background-color: #c0c0c0; padding: 18pt; text-align: center; width: 60%; }
.picboxright > IMG { display: block; text-align: center; margin: 0; border: 0; padding: 0; width: 100%; }
.picboxleft { display: inline; float: left; margin: 8pt; border: 1pt solid black; background-color: #c0c0c0; padding: 18pt; text-align: center; width: 60%; }
.picboxleft > IMG { display: block; text-align: center; margin: 0; border: 0; padding: 0; width: 100%; }
.picboxcaption { text-align: center; margin: 0; border: 0; padding: 8pt 10pt 3pt 10pt; color: black; font-size: 0.9em; }

.poetrybox { margin: 24pt; border: 0; padding: 24pt; background-color: #f0f0f0; text-align: center; }
.poemcontent { margin: 0 auto 0 auto; border: 0; padding: 0; display: inline-block; text-align: left; }
.poemtitle { font-weight: bold; text-align: center; text-indent: 0; }
.poembody { text-indent: 0; }
.poemauthor { font-style: italic; text-indent: 10%; text-align: right; }

.dropcap {
  text-indent: 0;
}
.dropcapword {
  font-weight: bold;
  font-variant: small-caps;
}
.dropcap::first-letter {
  float: left;
  font-family: serif;
  font-weight: bold;
  font-size: 3.5em;
  padding: 2pt;
  display: inline;
  initial-letter: 3.0 2;
  color: #e00020;
}

.bigverticalspace { display: block; height: 10em; }
.scanlink { display: inline; margin: 0; border: 1pt solid #c0c8d0; padding: 2pt; background-color: #f0f8ff; font-size: 0.5em; top: -0.4em; position: relative; text-align: center; }
PERSON:hover { text-decoration: underline; }
PLACE:hover { text-decoration: underline; }
.hidden { visibility: hidden; }
.invisible { display: none; }
.booktitle { font-weight: 1.1em; font-style: italic; }
.articletitle { font-weight: 1.1em; }
.articletitle:before { content: "\201c"; }
.articletitle:after { content: "\201d"; }
.noweb { display: none; }

.vidbox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Once the screen size is the same or smaller than the page width, use 100% of the screen: */
@media screen and (max-width: 576pt) {
  #content {
    margin: 0;
    box-shadow: none;
    width: 100%;
  }

  BLOCKQUOTE { margin: 8pt; padding: 8pt; }

  P { text-indent: 18pt; }

  .body { padding: 10pt; }
  .indent { text-indent: 18pt; }
  .doubleindent { text-indent: 36pt; }

  .picbox { margin: 2pt; padding: 8pt; text-align: center; }
  .picboxright { margin: 2pt; padding: 8pt; }
  .picboxleft { margin: 2pt; padding: 8pt; }
  .picboxcaption { padding: 2pt 3pt 2pt 3pt; }

  .poetrybox { margin: 8pt; padding: 8pt; }
}

/* Adapt the top-of-page navigation for narrow screen widths: */
@media screen and (max-width: 380pt) {
  .navbar { overflow: visible; }
  .mid { margin: 0; border: 0; padding: 5pt; white-space: nowrap; text-align: center; position: absolute; left: 50%; transform: translate(-50%, 90%); }
}

